[core]
	editor = subl -w
[color]
 	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = true

[user]
    name = Alex Wyler
    email = alex.s.wyler@gmail.com

[push]
	default = simple
[branch]
	autosetuprebase = always

